@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
body{
  background-color:#6D7DFF;
  color: black;
  font-family: 'Dosis', sans-serif;
}

.header h1{
  text-align: center;
  font-size: 60px;
  background-color: #EF6DFF;
}

.navigation{
  background-color: #A66DFF;
  width: 20%
}

.navigation li{

}


header nav{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer{
  text-align: center;
}

.flavor_text{
  padding:10px;
}

#playBGM{
  border-radius: 3px;
  padding: 1rem;
}

a:link{
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.container{
  height: 100px;
  width: 500px;
  background-color: #2e86c1 ;
  position:absolute;
   top:45%;
   left:40%;
   margin-top:-60px;
   margin-left:-50px;
}
