@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body{
  background-color: #F0FFFF;
  color: #6495ED;
  font-family: 'Gochi Hand', cursive;
}

header h1{
  text-align: center;
  font-size: 50px;
}

header nav{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer{
  text-align: center;
}

.flavor_text{
  padding:10px;
}

#playBGM{
  border-radius: 3px
}

a{
  text-decoration: none;
}
